work/
.nextflow*
outputs/
test_nextflow_output/
*_taiji_outputs/
*_taiji_inputs/
binaries/*.sif
binaries/taiji-*
data/*.bam
data/*.fastq*
database/*/*.fa
database/*/*.gtf
database/*/*.index
database/*/*.meme
.DS_Store
